# Ignore virtual environments
.venv/
venv/
env/

# Ignore Node modules
node_modules/
frontend/.next/
frontend/.next-build/
frontend/.next-dev/
frontend/dev-stdout.log
frontend/dev-stderr.log

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment variables
.env
